
@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<h1>Hello From Index</h1>
<nav>
    <center>
    <a class="btn btn-success" href="home/index">
        Home
    </a>
        <a class="btn btn-secondary" href="aboutus/index">
            About US
        </a>
        <a class="btn btn-info" href="contactus/index">
            Contact Us
        </a>
        <a class="btn btn-outline-danger" href="login/index">
            Log In
        </a>
        <footer>
            <div>
            <p>Copyrights &copy; </p> 
            </div>
            </footer>
    </center>
</nav>

